<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

<ion-content [fullscreen]="true">


    <ion-item>
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>Correo</ion-label>
    </ion-item>
    <ion-item>
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>Numero de Contacto</ion-label>
    </ion-item>
    <ion-item>
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>Nuestra Ubicacion</ion-label>
    </ion-item>
    <ion-item>
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>Sobre Nosotros</ion-label>
    </ion-item>
    
  </ion-content>
